<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; height:100%; white-space: nowrap;">
  <span style=" display: inline-block;
  height: 100%;
  vertical-align: middle;"></span>
  <img style="vertical-align: middle; 
  max-width: 100%;
  max-height: 100%;"
  alt="Banner" src="{{urlImg}}" >
  
</div>

